body{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    background:linear-gradient(to left, #465C88 0%, #FF7A30 25%, #E9E3DF 65%, #1a1a1a 100%);
}


@media (max-width: 768px){
    .hero{
        flex-direction: column !important;
        width:100% !important;
    }

    .hero-right-content,.hero-left-content{
        margin: 20px;
        padding: 20px;
    }
}

.hero{
   
    color: black;
    display: flex;
    flex-direction: row;
    padding: 20px;
    padding-top: 200px;
    padding-bottom: 200px;
    align-items: center
}

.hero-left-content{
    flex: 1;
    margin-right: 100px;
    margin-left: 100px;
}

.hero-right-content{
    flex: 1;
    margin-left: 70px;

}

.hero-right-content img{
    display: block;
    width:70%;
    height: auto;
    border-radius: 20px;
    border: 5px solid #313030;
    box-shadow: 10px 7px 7px rgba(49, 48, 48, 0.5);

    transition: transform 0.3s ease-in-out;
    transform-origin: center center;
    will-change: transform;
}

.hero-right-content img:hover{
    transform: scale(1.03);
    
}


/*section 2*/

.about{
    text-align: center;
    padding: 40px;
    
    height: 30vh;
}
.about-mj{
    align-self: center;
}
 /*Contact*/
.contact{
    text-align: center;
    padding: 40px 20px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.queries{ 
    display: grid;
    grid-template-columns: 80px 250px;
    align-items: center;
    width:400px;
    gap: 10px;
}

.contact button{
    grid-column: 2;
    border: none;
    border-radius: 7px;
    width: 250px;
    padding: 5px;
    box-sizing: border-box;
    /* height: 20px; */
}

.contact input{
    padding: 5px;
    border: none;
    border-radius: 5px;
    width: 100%;
}
